html(ng-app="app")
	head
		title Cssgram Desktop
		link(rel="stylesheet", href="assets/css/main.min.css")
	body
		ui-view
						
		script(src="scripts/vendors.min.js")
		script(src="scripts/app.min.js")