html(ng-app="app")
	head
		title Cssgram Desktop
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css")
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet", href="assets/css/main.min.css")
	body
		ui-view
		
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
		script(src="scripts/vendors.min.js")
		script(src="scripts/app.min.js")