img(src="assets/img/picture.jpg", alt="", class="img-selected")
.fixed-action-btn.horizontal.click-to-toggle.menu
  a.btn-floating.btn-large.waves-effect.waves-light.btn
    i.large.mdi-navigation-menu
  ul.width-ul
    li(ng-click="filter=true")
      figure(class="aden")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="reyes")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="perpetua")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="inkwell")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="toaster")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="walden")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="hudson")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="gingham")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="mayfair")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="lofi")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="xpro2")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="_1977")
        img(src="assets/img/picture.jpg", alt="")
    li
      figure(class="brooklyn")
        img(src="assets/img/picture.jpg", alt="")